/*CONFIGURATION*/

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  margin: 0 10px;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
header, footer, nav, section {
  display: block;
}

/*TITLES*/

h1 {
  color: #000;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/*GRID*/

.container {
  width: 940px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*HEADER*/

.main-header {
  margin-bottom: 50px;
  min-height: 72px;
}

.main-header .container {
  padding: 0 20px;
}

.logo {
  float: left;
  width: 130px;
}

.main-navigation {
  float: left;
  width: 620px;
}

.main-navigation ul li {
  display: inline-block;
}

.user-block {
  display: inline-block;
  float: right;
  width: 150px;
  text-align: right;
}

/*CATALOG*/

.shop-navigation ul li {
  display: inline-block;
}

.filter {
  float: left;
  width: 220px;
}

.shop-items {
  float: right;
  width: 700px;
}

.item {
  width: 220px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

.item:nth-child(3n+2) {
  margin-left: 20px;
  margin-right: 20px;
}

.item h2 {
  font-size: 14px;
  line-break: 18px;
}

.pages {
  margin-top: 45px;
  margin-bottom: 50px;
}

.page {
  width: 43px;
  height: 43px;
  background-color: #000;
  margin-right: 3px;
  display: inline-block;
}

.page a {
  color: #fff;
}

/*CATALOG ITEM*/

.item-details {
  margin-bottom: 30px;
}

.shop-navigation {
  margin-bottom: 50px;
}

.shop-navigation h1 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.item-left {
  width: 460px;
  float: left;
}

.item-left img {
  margin-bottom: 13px;
  margin-right: 16px;
}

.item-left img:last-child {
  margin-right: 0;
}

.item-right {
  width: 390px;
  float: right;
  padding-top: 10px;
}

/*FOOTER*/
.main-footer {
  min-height: 190px;
}

.address {
  float: left;
}

.social-media {
  margin: 0 auto;
}

.authors {
  float: right;
}
